@model ch16.Models.StoreMember

@{
    ViewBag.Title = "Demo";
}

<h2>會員資訊</h2>

<div>    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            
        </dt>
        <dd>
            <img src="~/images/@Model.sphotoname" width="300" />
        </dd>
        <dt>
            帳號
        </dt>

        <dd>
            @Html.DisplayFor(model => model.suserid)
        </dd>
                
        <dt>
            店名
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sname)
        </dd>

        <dt>
            電話
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sphone)
        </dd>

        <dt>
            信箱
        </dt>

        <dd>
            @Html.DisplayFor(model => model.semail)
        </dd>

        <dt>
            地址
        </dt>

        <dd>
            @Html.DisplayFor(model => model.saddress)
        </dd>

        <dt>
            營業時間
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shour)
        </dd>

        <dt>
            店家類型
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cateid)
        </dd>

        <dt>
            店家介紹
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sinf)
        </dd>    

    </dl>
</div>
<p>
    @Html.ActionLink("修改資訊", "Edit", new { id = Model.sid }) 
</p>
